:root {
    --bg-principal: #0b1d26;
    --bg-secundario: #112d3b;
    --cor-primaria: #00bcd4;
    --cor-hover: #00e5ff;
    --texto-principal: #ffffff;
    --texto-secundario: #cccccccc;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    scroll-behavior: smooth;
    outline: none;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 401;
    font-style: normal;

}

body {
    color: var(--texto-principal);
}

.container-principal {}

header {

    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: rgba(11, 29, 38, 0, 8);
    backdrop-filter: blur(10px);
    z-index: 1000;

}

.nome {
    margin-left: 30px;
    font-size: 2.5rem;
    color: black;
    font-weight: 500px;


}

.menu {
    font-size: 1.7rem;
    font-weight: 500;
    margin-left: 5rem;
    padding: 30px;

}

.link-menu {
    margin-left: 20px;
    position: relative;
}

.link-menu:after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background: var(--cor-primaria);
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

.link-menu:hover:after {
    width: 100%;
}

/*##################CONTEUDO HOME#################################*/

#home {
    height: 100vh;
    background-color: #0b1d26;
    color: aliceblue;
    padding: 0 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#home:before {
    content: "";
    position: relative;
    inset: 0;

    background: linear-gradient(to right,
            var(--bg-principal) 60%,
            rgba(11, 29, 38, 0.6));
}

.conteudo-home {
    flex: 1;
    max-width: 60%;
}

.titulo-nome {
    font-size: 100px;
    margin-bottom: 20px;
    padding-bottom: 50px;
}

.foto-perfil {
    border-radius: 20px;
    box-shadow: 0 0 40px rgba(0,188,212,0.3);
    transition: 0.3s;
}

.foto-perfil:hover {
    transform: scale(1.03);
}



.conteudo-home h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.conteudo-home p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 30px;
    padding-bottom: 50px;
}

.contato-button {
    background-color: aquamarine;
    color: black;
    padding: 15px 30px;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contato-button:hover {
    background-color: #5fd4d4;
    transform: scale(1.05);
}

.contato-home {
    display: flex;
    align-items: center;
}

.icones-home {
    margin-left: 30px;
    font-size: 30px;
    color: #00bcd4;
    transition: 0.3s;
}

.icones-home:hover {
    transform: scale(1.3);
}

/*###################SOBRE#################################*/

#sobre {
    padding: 50px 30px;
    text-align: center;
    background-color: var(--bg-secundario);
}

.titulo-sobre {
    font-size: 3rem;
    margin-bottom: 30px;
}

.foto-sobre {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    margin: 30px auto;
    display: block;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.subtitulo-sobre {
    font-size: 2rem;
    margin: 30px 0 20px 0;

}

.paragrafo-sobre {
    font-size: 1.1rem;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
    text-align: justify;
}


/*###############CSS DO PAGINA EDUCAÇÂO#################*/
#educacao {
    padding: 50px;
    background-color: #0b1d26;
}

.titulo-jornada {
    font-size: 40px;
    margin-bottom: 35px;
}

.titulo-educacao,
.titulo-profissional {
    font-size: 35px;
}

.jornada-educacao h3 {
    margin-bottom: 30px;
}

.timeline {
    position: relative;
    margin-left: 30px;
}

.timeline::before {
    content: "";
    position: absolute;
    left: -15px;
    top: 0;
    width: 3px;
    height: 100%;
    background-color: #00bcd4;
}

.card {
    background-color: #112d3b;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    border: 1px solid #00bcd4;
}

.card::before {
    content: "";
    position: absolute;
    left: -23px;
    top: -1px;
    width: 15px;
    height: 15px;
    background-color: #00bcd4;
    border-radius: 50%;
}

.card:hover {
    transform: translateY(-4px);
    transition: 0.3s;
}

.data {
    font-size: 14px;
    color: #00bcd4;
    display: block;
    margin-bottom: 10px;
}

/*###################HABILIDADES##################*/

#habilidades h1 {
    font-size: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;

}

.container-habilidades {
    display: flex;

}


.card-habilidades {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 1px solid #00bcd4;
    background-color: #112d3b;

}

.img-habilidades {
    width: 200px;
    height: 200px;
    padding: 5px;
    margin-bottom: 15px;

}

/*#################PROJETOS########################*/

.main-projetos {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding: 20px;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.main-projetos::-webkit-scrollbar {
    display: none;
}

.card-projetos {
    border: 1px solid #00bcd4;
    min-width: 300px;
    flex-shrink: 0;
    /*Impede de encolher*/
    background-color: #112d3b;
    border-radius: 10px;
    padding: 15px;
    scroll-snap-align: start;
}

.card-projetos img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.card-projetos:hover {
    transform: translateY(-8px);
    transition: 0.3;
}





/*#################CONTATOS########################*/

#contatos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background-color: #0b1d26;
 
}

#contatos h1 {
    margin-bottom: 20px;
}

.form-contato {
    width: 100%;
    max-width: 700px;
}

.linha {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

.form-contato input,
.form-contato textarea {
    width: 100%;
    padding: 12px;
    border: 2px solid #00bcd4;
    border-radius: 8px;
    background-color: transparent;
    font-size: 15px;
    outline: none;
    transition: 0.3s;
}

.form-contato textarea {
    height: 150px;
    resize: none;
    margin-bottom: 15px;
}

.form-contato input:focus,
.form-contato textarea:focus {
    border-color: #00e5ff;
    box-shadow: 0 0 8px #00bcd4;
}

.form-contato button {
    padding: 12px 25px;
    display: block;
    margin: 0 auto;
    border: none;
    border-radius: 8px;
    background-color: #00bcd4;
    color: #0b1d26;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.form-contato button:hover {
    background-color: #00e5ff;
    transform: scale(1.05);
}

/*#####################FOOTER###################*/
.footer {
    background-color: black;
    color: white;
    padding: 40px 20px;
    text-align: center;
}

.footer-container {
    max-width: 800px;
    margin: 0 auto;
}

.footer-nome {
    font-size: 24px;
    margin-bottom: 10px;
}

.footer-desc {
    font-size: 14px;
    margin-bottom: 20px;
}

.icones-sociais {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.icones-sociais a {
    color: #00bcd4;
    font-size: 20px;
    transition: 0.3s;
}

.icones-sociais a:hover {
    color: #00e5ff;
    transform: translateY(-5px);
}

.copyright {
    font-size: 12px;
    color: #888;
}